*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
body {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,10%);
    background: linear-gradient(90deg,
     #16c42d,
     #0a0a09,
     #240ee7);
     background-size: 200% 200%;
     animation: gradientAnimation 10s ease-in-out infinite;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    justify-content: center;
    background-color: rgb(130, 221, 243);
    
    grid-column: 5/8;
    grid-row: 2/10;
    border-radius: 10px;
}

.formulario .enviar{
    display: flex; /* Utilizar flexbox para centrar el contenido */
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center; /* Centrar horizontalmente los elementos */
  justify-content: center; 
   
    grid-column: 2/10;
    grid-row: 2/6;
}
.formulario .enviar input{
    border-radius: 5px;
   width: 200px;
   height: 35px;
   margin-top: 4px;
}

.formulario .borrar{
    display: flex; /* Utilizar flexbox para centrar el contenido */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; 
    margin-top: 8%;
   
    grid-column: 2/10;
    grid-row: 7/10;
}
.formulario .borrar button:hover{
    background-color: rgb(226, 17, 17);
    color: #ffffff;
}

.formulario .borrar input{
    border-radius: 5px;
   width: 200px;
   height: 35px;
   margin-top: 4px;
}

.formulario .enviar button{
    cursor: pointer;
    background-color: rgb(196, 235, 250);
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    display: block;
    margin-left: 30%;
    color: black;

}
.formulario .enviar button:hover{
    background-color: rgb(147, 177, 189);
}

.formulario .borrar button{
    cursor: pointer;
    background-color: rgb(196, 235, 250);
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    display: block;
    margin-left: 30%;
    color: black;

}


